.Topbar {
    padding: 2em 0 0 0;
}

.Topbar_avatar {
    width: 50px;
    border-radius: 50%;
}

.Topbar h4 {
    display: inline;
    margin:0 0.5em;
}

.Topbar_votes {
    flex-basis: 6%;
    color: #d3d3d3;
}

.Topbar_details {
    flex-basis: 94%;
}

.Topbar_postInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Topbar_information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 6%;
}

.Topbar_tag {
    display: inline;
    background-color: rgb(237, 239, 241);
    font-size: 10px;
    color: black;
    border-radius: 3px;
    padding: 4px 10px;
}

.Topbar_title {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    display: inline-block;
    line-height: 2em;
    margin-left: 10px;
    font-size: 20px;
}